!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    %title Brand new media
    %link{:rel => "stylesheet", :href =>"css/style.css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:300", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "js/modernizr-2.5.3.min.js"}
  %body
    #container
      .heroImageContainer
        %img.heroImage{:src =>"images/bg-hero-home.jpg"}
      .shadow
      %header.header
        %img.heroBanner{:src =>"images/banner-leaderboard.jpg"}
        %nav.smallNav
          .smallNavButton
          .logo
            %img{:src =>"images/logo.png"}
        %nav.largeNav
          %ul.navigation
            %li
              %img.logo{:src =>"images/logo.png"}
            %li
              %a{:href => "#"}ABOUT
            %li
              %a{:href => "#"}PRIZES
            %li
              %a{:href => "#"}RIDERS
            %li
              %a{:href => "#"}VIDEOS
            %li
              %a{:href => "#"}REGISTER
            %li
              %a{:href => "#"}LOGIN
      %section.currentStandings
        .leader
          .leadRider
            %p.position 1
            %a.name{:href => "#"}Marti Paradisis
            %p.votes 21,203 votes
        .leaderboard
          %h2 LEADERBOARD
          %ul
            %li.rider
              %p.position 2
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 21,203 votes
            %li.rider
              %p.position 3
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 20,203 votes
            %li.rider
              %p.position 4
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 21,203 votes
            %li.rider
              %p.position 5
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 20,203 votes
            %li.rider
              %p.position 6
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 21,203 votes
            %li.rider
              %p.position 7
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 20,203 votes
            %li.rider
              %p.position 8
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 21,203 votes
            %li.rider
              %p.position 9
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 20,203 votes
            %li.rider
              %p.position 10
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 21,203 votes
            %li.rider
              %p.position 11
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 20,203 votes
            %li.rider
              %p.position 12
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 21,203 votes
            %li.rider
              %p.position 13
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 20,203 votes
            %li.rider
              %p.position 14
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 21,203 votes
            %li.rider
              %p.position 15
              %a.name{:href => "#"}Jamie Mitchell
              %p.votes 20,203 votes

      %footer
  /BigVideo Dependencies
  %script{:src => "js/jquery-1.10.0.min.js"}
