#container
{
  @include rem(min-width,320px);
}

a{
  color:$color-text-link;
  text-decoration: none;
  &:hover{
    color:$color-text-hover;
  }
}

p{
  color:$color-text-default;
  font-family: $font-body;
  font-weight: 300;
  a{
    border-bottom: 1px $color-text-link-border solid;

  }
}

section
{
  @include rem(margin-bottom, 40px);
}