#container
{
  position:relative;
  background:url("../images/background_v2.jpg") $color-background 0 765px no-repeat;
}
.header
{
  @include rem(padding,10px);
  @include box-sizing(border-box);
  position:relative;
  top:0;
  z-index:3;
}
.currentStandings
{
  @extend %clearfix;
  @include box-sizing(border-box);
  @include rem(margin-bottom,60px);
  position:relative;
  z-index:4;
  width:100%;
}
.leaderboardChart
{
  @extend %clearfix;
  @include center-block();
  @include box-sizing(border-box);
  @include rem(margin-bottom,20px);
  @include rem(width,975px);
}
.mainContent
{
  @extend %clearfix;
  @include box-sizing(border-box);
  clear:both;

}

.content
{
  @extend %clearfix;
  @include box-sizing(border-box);
  @include rem(width,640px);
  display:inline-block;
  float:left;
}
.sidebar
{
  @extend %clearfix;
  @include box-sizing(border-box);
  @include rem(width,300px);
  display:inline-block;
  float:right;
}